/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Life Savers', serif; */

/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Life Savers', serif;
  color: #2B4E80;
}

main {
  display: flex;
  flex-direction: row;
  width: 900px;
}

.favorites {
  width: 900px;
  background-color: #2B4E80;
  color: white;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E6ECF4;
}

input[type='text']::placeholder {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.question-answer {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 18px;
}

.question-answer input {
  height: 24px;
  width: 98%;
  color: #2B4E80
}

.imput-button-disable {
  font-family: 'Open Sans', sans-serif;
  height: 24px;
  width: 100%;
  background-color: #607AA0;
  color: white
}

.imput-button-enable {
  font-family: 'Open Sans', sans-serif;
  height: 24px;
  width: 100%;
  background-color: #2B4E80;
  color: white
}

.clear-button-disable {
  margin: 18px;
  border: none;
  color: white;
  background-color: #D0CDCD
}

.clear-button-enable {
  margin: 18px;
  border: none;
  color: white;
  background-color: #DE4841
}

.save {
  margin: 18px;
  border: none;
  color: white;
  background-color: #DE4841;
}

.imput-button-enable:hover {
  background-color: #1C3455
}

.eight-ball {
  width: 350px;
  height: auto;
}

.butts {
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}
